events {
  worker_connections  4096;  ## Default: 1024
}

http {
  index    index.html index.htm index.php;
}
  server { # simple load balancing
    listen          80;
    server_name     {{ ansible_hostname }};
    root         /usr/share/nginx/html;

    location / {
      
    }
  }
}

