Вывести для всех хостов группы web_servers значение переменных:

1) Название сервера
2) свободное пространство в оперативной памяти
3) какой дистрибутив используется

ansible worker01 -m setup: для просмотра переменных ansible_facts

Пример:
worker01  1000MB  RedHat
worker02  900MB	  RedHat
