events {
  worker_connections  4096;  ## Default: 1024
}

http {
  index    index.html index.htm index.php;

  
  upstream backend {
      {% for hosts in groups['web_servers'] %}
      server {{ hostvars[hosts].ansible_default_ipv4.address  }}:80;
      {% endfor  %} 
	}

  server { # simple load balancing
    listen          80;
    server_name     _;

    location / {
      proxy_pass      http://backend;
    }
  }
}

